<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome {{user}}</h1>
            {{#if privilege}}
            <p>You are logged in as an admin you have granted access to all functionalities</p>
            {{/if}}
            {{#unless privilege}}
            <a href="/shoppinglist" alt="View my shoppinglists">
                <p style="color: darkblue">Check whats on the shopping list today</p>
            </a>
            {{/unless}}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Current Household Inventory</h1>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Minimum Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Vendor</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if privilege}}
                                {{#each inv}}
                                <tr>
                                    {{!-- <th scope="row"></th> --}}
                                    <th>{{id}}</th>
                                    <td><input id="{{id}}-name" class="form-control" type="text" value="{{{itemName}}}">
                                    </td>
                                    <td><input id="{{id}}-category" class="form-control category" type="text"
                                            value="{{{categoryName}}}"></td>
                                    <td><input id="{{id}}-quantity" class="form-control" type="text"
                                            value="{{quantity}}"></td>
                                    <td><input id="{{id}}-replenish" class="form-control" type="text"
                                            value="{{replenishFlag}}"></td>
                                    <td><input id="{{id}}-price" class="form-control" type="text" value="{{price}}">
                                    </td>
                                    <td><input id="{{id}}-supplier" class="form-control" type="text"
                                            value="{{{supplierName}}}"></td>
                                    <td><button data-id="{{id}}" class="btn btn-primary update-item">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
                                    </button></td>
                                    <td><button data-id="{{id}}" class="btn btn-primary add-to-list" disabled>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
  <path fill-rule="evenodd" d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
</svg>
                                    </button></td>
                                </tr>
                                {{/each}}
                                {{/if}}
                                {{#unless privilege}}
                                {{#each inv}}
                                <tr>
                                    {{!-- <th scope="row"></th> --}}
                                    <th>{{id}}</th>
                                    <td>{{itemName}}</td>
                                    <td>{{categoryName}}</td>
                                    <td><input data-id="{{id}}" class="form-control quantity" type="text"
                                            value="{{quantity}}" disabled></td>
                                    <td><input data-id="{{id}}" class="form-control replenish" type="text"
                                            value="{{replenishFlag}}" disabled></td>
                                    <td><input data-id="{{id}}" class="form-control price" type="text" value="{{price}}"
                                            disabled></td>
                                    <td><input data-id="{{id}}" class="form-control supplier" type="text"
                                            value="{{{supplierName}}}" disabled></td>
                                    <td><button data-id="{{id}}" class="btn btn-primary update-item" disabled>
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </button></td>
                                </tr>
                                {{/each}}
                                {{/unless}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<!-- Modal POST New Item-->
<div class="modal fade" id="add-inventory" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Add new item to inventory</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="add-inventory-form">
                    <div class="form-group">
                        <label for="item-name">Item Name:</label>
                        <input type="text" id="item-name" name="item-name" placeholder="i.e Paper Towels"
                            class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="item-category">Category:</label>
                        <select id="item-category" name="item-category" class="form-control" required>
                            <option value="Cleaning Supply">Cleaning Supply</option>
                            <option value="Personal Care">Personal Care</option>
                            <option value="Beauty">Beauty</option>
                            <option value="Meds and Supplements">Meds and Supplements</option>
                            <option value="Food and Beverages">Food and Beverages</option>
                            <option value="Drinks">Drinks</option>
                            <option value="Clothes">Clothes</option>
                            <option value="Seasonal">Seasonal</option>
                            <option value="Office/Paper">Office/Paper</option>
                            <option value="Pets">Pets</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="item-quantity">Item Quantity:</label>
                        <input type="number" id="item-quantity" name="item-quantity" min=0 value=0 class="form-control"
                            required />
                        <small>Count of this item in inventory, if you have none of this in your house leave it on
                            0</small>
                    </div>
                    <div class="form-group">
                        <label for="item-replenish">This item needs to replenished when quantity gets to:</label>
                        <input type="number" id="item-replenish" name="item-replenish" min=0 value=0
                            class="form-control" required />
                        <small>This is the number that will tell you when you are running low of this item</small>
                    </div>
                    <div class="form-group">
                        <label for="item-price">USD estimated price on market:</label>
                        <input type="text" id="item-price" name="item-price" placeholder="i.e 10.99"
                            class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="item-supplier">Supplier name:</label>
                        <input type="text" id="item-supplier" name="item-supplier" placeholder="i.e Target or Bounty"
                            class="form-control" required />
                        <small>This could be where the items are or what specific brand is this</small>
                    </div>
                    {{#if privilege}}
                    <button type="submit" class="btn btn-primary">Add Item</button>
                    {{/if}}
                    {{#unless privilege}}
                    <button type="submit" class="btn btn-primary" disabled>Add Item</button>
                    {{/unless}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Shopping Lists UI/UX Interactions-->
<div class="modal fade" id="shoppingLists" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Shopping Lists</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <form class="new-shoppoing-list">
                            <div class="form-group">
                                <label for="shopping-list-name">Type your list name:</label>
                                <input type="text" id="shopping-list-name" name="shopping-list-name"
                                    class="form-control" placeholder="i.e Weekly replenish or Christmas" required />
                            </div>
                            <div class="form-group">
                                <label for="shopping-list-user">Assign it to a user:</label>
                                <select id="shopping-list-user" class="form-control" required>
                                    {{!-- populates options from users table get all / Ajax request in dashboard.js --}}
                                </select>
                                <small>Only this user would be able to see this shopping list.</small>
                            </div>
                            <div class="form-group">
                                {{#if privilege}}
                                    <button type="submit" class="btn btn-primary">Create Shopping List</button>
                                {{/if}}    
                                {{#unless privilege}}
                                    <button type="submit" class="btn btn-primary" disabled>Create Shopping List</button>
                                {{/unless}}
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <h5 id="lists-titles" class="card-title">Shopping Lists</h5>
                                {{!-- Here the list of shopping lists --}}
                                <ul id="shoppingListsUl" class="list-group">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Details of selected Lists</h5>
                                <div id="selectedShoppingList">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>