<div class="container" style="margin-top: 5%;">
  <div class="wrapper">
        <div class="row">
      <div class="col-8 offset-2">
        <div class="card mt-4">
          <div class="card-body">
            <h1 class="card-title">Current Household Inventory</h1>
            <br>
            <br>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Item</th>
                  <th scope="col">Category</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Minimum Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Vendor</th>
                </tr>
              </thead>
              <tbody>
                {{#each inv}}
                <tr>
                  {{!-- <th scope="row"></th> --}}
                  <th>{{id}}</th>
                  <td>{{itemName}}</td>
                  <td>{{categoryName}}</td>
                  <td><input class="form-control" type="text" value={{quantity}}></td>
                  <td><input class="form-control" type="text" value={{replenishFlag}}></td>
                  <td><input class="form-control" type="text" value={{price}}></td>
                  <td><input class="form-control" type="text" value={{supplierName}}></td>
                  <td><button data-id="{{id}}" class="view-details">Update Item</button></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>