<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Item Details</h5>
                    <p>
                        <strong>ID</strong>: {{item.id}}</p>
                    <p>
                        <strong>Item</strong> {{item.itemName}}</p>
                    <p>
                        <strong>Category</strong>: {{item.categoryName}}</p>
                    <p>
                        <strong>Quantity</strong>: {{item.quantity}}</p>
                    <p>
                        <strong>Replenish</strong>: {{item.replenishFlag}}</p>
                    <p>
                        <strong>Price</strong>: {{item.price}}</p>
                    <p>
                        <strong>Supplier</strong>: {{item.supplierName}}</p>

                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>