<div class="container">
    {{!-- <div class="wrapper"> --}}
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Your shopping lists to complete</h1>
                        {{#each shoppinglists}}
                        <div class="table-responsive" style="margin-top: 3%;">
                        <table class="table table-striped table-hover">
                                <tr class="lists-names-headers"><h4>{{listName}}</h4></tr>
                            <tbody>
                                <tr>
                                    <td>
                                        <table>
                                            <thead>
                                                <th scope="col">Item Name</th>
                                                <th scope="col">Category</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Vendor</th>
                                                <th scope="col"> How many you got? </th>
                                                <th scope="col"> Completed </th>
                                            </thead>
                                            <tbody>
                                                {{#each listdetails}}
                                                <tr>
                                                    <td>{{inventory.itemName}}</td>
                                                    <td>{{inventory.categoryName}}</td>
                                                    <td>{{inventory.price}}</td>
                                                    <td>{{inventory.supplierName}}</td>
                                                    <td><input type="number" data-id="{{inventory.id}}" data-name="{{inventory.itemName}}" data-category="{{inventory.categoryName}}" data-replenish="{{inventory.replenishFlag}}" data-price="{{inventory.price}}" data-supplier="{{inventory.supplierName}}" data-parent="{{shoppinglistId}}" class="form-control" id="{{inventory.id}}-quantityObtained" value="{{quantityObtained}}" min="0"/></td>
                                                    {{#if status}}
                                                        <td><input data-id="{{inventory.id}}" data-name="{{inventory.itemName}}" data-category="{{inventory.categoryName}}" data-replenish="{{inventory.replenishFlag}}" data-price="{{inventory.price}}" data-supplier="{{inventory.supplierName}}"  type="checkbox" class="form-control update-control"  checked/></td>
                                                    {{/if}}
                                                    {{#unless status}}
                                                        <td><input data-id="{{inventory.id}}" data-name="{{inventory.itemName}}" data-category="{{inventory.categoryName}}" data-replenish="{{inventory.replenishFlag}}" data-price="{{inventory.price}}" data-supplier="{{inventory.supplierName}}" type="checkbox" class="form-control update-control" /></td>
                                                    {{/unless}}
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <button data-id="{{id}}" class="btn btn-primary complete-list">Complete this list</button>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{!-- </div> --}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/shoppinglist.js"></script>